[flake8]
max-line-length = 105
exclude = venv/*
per-file-ignores =
    # imported but unused in __init__ files
    __init__.py: F401
    app.py: W293, E302, E305
    models.py: W293, E302, E305
    database.py: W293, E302, E305
