# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.pyc

# Database
instance/
*.db
*.sqlite

# VS Code
.vscode/
*.code-workspace

# Environment variables
.env
.flaskenv

# System files
.DS_Store