{% extends "base.html" %}

{% block title %}Dress Code{% endblock %}

{% block content %}
    <h1>Dress Code</h1>
    
    <div class="dress-code">
        <div class="day-group">
            <h3>Søndag:</h3>
            <p>Blå t-skjorte og svart caps</p>
        </div>
        
        <div class="day-group">
            <h3>Mandag:</h3>
            <p>Oransje</p>
        </div>
        
        <div class="day-group">
            <h3>Tirsdag:</h3>
            <p>Grønn</p>
        </div>
        
        <div class="day-group">
            <h3>Torsdag:</h3>
            <p>Rød</p>
        </div>
        
        <div class="day-group">
            <h3>Fredag:</h3>
            <p>Blå t-skjorte og hvit caps</p>
        </div>
    </div>
    
    <a href="{{ url_for('home') }}" class="button">Hjem</a>
{% endblock %}