{% extends "base.html" %}

{% block title %}Spille oppsett{% endblock %}

{% block content %}
    <h1>Spille oppsett</h1>
    
    <div class="flight-setup">
        
        <div class="day-group">
            <h2>Søndag:</h2>
            <p><strong>Flight1:</strong> Gisle, Olav, Petter, Tore</p>
            <p><strong>Flight2:</strong> Geir Owe, Hansi, Helge, John R</p>
            <h2>Mandag:</h2>
            <p><strong>Flight1:</strong> Geir Owe, Gisle, John R, Petter</p>
            <p><strong>Flight2:</strong> Hansi, Helge, Olav, Tore</p>
            <h2>Tirsdag:</h2>
            <p><strong>Flight1:</strong> Gisle, Hansi, John R, Olav</p>
            <p><strong>Flight2:</strong> Geir Owe, Helge, Petter, Tore</p>
            <h2>Onsdag:</h2>
            <p><strong>Flight1:</strong> Geir Owe, Gisle, Helge, Olav</p>
            <p><strong>Flight2:</strong> Hansi, John R, Petter, Tore</p>
            <h2>Torsdag:</h2>
            <p><strong>Flight1:</strong> Helge, John R, Olav, Petter</p>
            <p><strong>Flight2:</strong> Geir Owe, Gisle, Hansi, Tore</p>
            <h2>Fredag - lederball:</h2>
            <p><strong>Flight1:</strong> de 4 uheldigste!</p>
            <p><strong>Flight2:</strong> de 4 beste!</p>
            <h2>Lørdag:</h2>
            <p><strong>Flight1&2:</strong>early birds</p>
        </div>
    </div>
    
    <a href="{{ url_for('home') }}" class="button">Hjem</a>
{% endblock %}