{% extends "base.html" %}

{% block title %}Spille oppsett{% endblock %}

{% block content %}
    <h1>Spille oppsett</h1>
    
    <div class="flight-setup">
        
        <div class="day-group">
            <h2>Torsdag:</h2>
            <p><strong>Flight 1:</strong> Geir Owe, Helge, Hansi</p>
            <p><strong>Flight 2:</strong> Olav, John Reidar</p>
        </div>
        <div class="day-group">
            <h2>Fredag:</h2>
            <p><strong>Flight 1:</strong> Geir Owe, Gisle, Olav</p>
            <p><strong>Flight 2:</strong> Hansi, Helge, John Reidar</p>
        </div>

        <div class="day-group">
            <h2>Lørdag:</h2>
            <p><strong>Flight 1:</strong> Geir Owe, John Reidar, Helge</p>
            <p><strong>Flight 2:</strong> Gisle, Olav, Hansi</p>
        </div>
        
        <div class="day-group">
            <h2>Søndag:</h2>
            <p><strong>Flight 1:</strong> Geir Owe, Helge, Hansi</p>
            <p><strong>Flight 2:</strong> Olav, John Reidar</p>
        </div>
    </div>
    
    <a href="{{ url_for('home') }}" class="button">Hjem</a>
{% endblock %}