{% extends "base.html" %}

{% block title %}Spille oppsett{% endblock %}

{% block content %}
    <h1>Spille oppsett</h1>
    
    <div class="flight-setup">
        
        <div class="day-group">
            <h2>Torsdag:</h2>
            <p><strong>Flight1:</strong> Helge, Geir Owe, Hansi</p>
            <p><strong>Flight2:</strong> Olav, John Reidar</p>
            <h2>Fredag:</h2>
            <p><strong>Flight1:</strong> Geir Owe, John Reidar, Gisle</p>
            <p><strong>Flight2:</strong> Olav, Helge, Hansi</p>
            <h2>Lørdag:</h2>
            <p><strong>Flight1:</strong> Helge, Geir Owe, Hansi</p>
            <p><strong>Flight2:</strong> Olav, John Reidar</p>
            <h2>Søndag:</h2>
            <p><strong>Flight1:</strong> Helge, Geir Owe, Hansi</p>
            <p><strong>Flight2:</strong> Olav, John Reidar</p>
        </div>
    </div>
    
    <a href="{{ url_for('home') }}" class="button">Hjem</a>
{% endblock %}