{% extends "base.html" %}

{% block title %}Lokale regler{% endblock %}

{% block content %}
    <h1>Lokale regler</h1>
    
    <div class="rules-container">
        <ul class="rules-list">
            <li>Vi spiller fra blå tee. Stableford, basert på banens slope.</li>
            <li>Vi har provisorisk Mulligan på Hull 1.</li>
            <li>Ballplassering en køllelengde overalt, unntatt i hinder og på green. Ballen kan ikke plasseres nærmere flagget.</li>
            <li>Putten er given når den er på grepet. 🥳</li>
            <li> ---- </li>
            <li>Turnerings avgift er 200NOK pr pers</li>
            <li>Fredag er playoff - leder OOM mottar 4 ekstra poeng, nr 2 mottar 3 poeng, nr 3 mottar 2 poeng og nr 4 mottar 1 poeng.</li>
            <li>De to beste etter runden fredag premieres 🥳 1 plass: 1000 NOK. 2 plass: 600 NOK </li>
        </ul>
    </div>
    
    <a href="{{ url_for('home') }}" class="button">Hjem</a>
{% endblock %}