{% extends "base.html" %}

{% block title %}Lokale regler{% endblock %}

{% block content %}
    <h1>Lokale regler</h1>
    
    <div class="rules-container">
        <ul class="rules-list">
            <li>Vi spiller fra teested 50-56 (blå tee). Stableford, basert på banens slope</li>
            <li>Vi har provisorisk Mulligan på Hull 1.</li>
            <li>Ballplassering en køllelengde overalt, unntatt i hinder og på green. Ballen kan ikke plasseres nærmere flagget.</li>
            <li>Putten er given når den er på grepet. 🥳</li>
            <li> ---- </li>
            <li>Turnerings avgift er 200,- pr pers. Vipps til Geir Owe før start</li>
            <li>De to beste etter finale runden premieres 🥳 1 plass: 800, 2 plass: 200</li>
        </ul>
    </div>
    
    <a href="{{ url_for('home') }}" class="button">Hjem</a>
{% endblock %}