{% extends "base.html" %}

{% block title %}Velg Spiller{% endblock %}

{% block content %}
    <h1>Velg Spiller</h1>
    {% if players %}
    <div class="player-selection">
        {% for player in players %}
        <a href="{{ url_for('add_score', player_id=player.id) }}" class="menu-item">
            {{ player.name }}
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p>Ingen spillere registrert ennå.</p>
    {% endif %}
    <a href="{{ url_for('home') }}" class="button">Tilbake til Hjem</a>
{% endblock %}